body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height:auto;
}

h1 {
  color: #2ad257;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

ul {
  text-align: left;
  list-style-type: decimal;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 1rem;
  text-align: center;
  list-style-type: none;
}

.notas {
  background: #fff8dc;
  border-left: 5px solid #ffa500;
  padding: 1rem;
  margin-top: 2rem;
  text-align: left;
  max-width: 100%;
place-items: center;
}

.descargas a {
  display: inline-block;
  margin: 0.5rem;
  text-decoration: none;
  color: white;
  background: #0066cc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.descargas a:hover {
  background: #004999;
}

/* Estilos para el video responsivo 
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 2rem;
}*/
.video-container iframe.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: auto%;
  width-max:100%;
  padding-botomm:56.25%;
}
/*
<iframe src="https://www.youtube.com/embed/zj0u8LiNSVo" width-="100%" height="315" style="border:none width-="100%";"></iframe>
<iframe src=src="https://www.youtube.com/embed/E_UFwQ6lBpU" width="100%" height="315" style="border:none width-="100%";"></iframe>
<iframe src="video2.html" width="100%" height="315" style="border:none width-="100%";"></iframe>
<iframe src="https://www.youtube.com/embed/UtJC6AY8cMA" width="100%" height="315" style="border:none width-="100%";"></iframe>*/
